 <h1>Editing Book</h1>
  <%= form_with model:@book, local: true do |f| %>
   <tr>
    Title
     <div class="field">
      <%= f.text_field :title %>
     </div>
    Body
     <div class="field">
      <%= f.text_area :body %>
     </div>
      <%= f.submit 'Update Book' %>
  <% end %>
    </tr>
  <%= link_to "Show", book_path(@book) %> | <%= link_to "Back", books_path %>
