 <p id="notice"></p>
<div class="notifications">
 <div class="notice"><%= flash[:notice] %></div>
</div>

Title: <td><%= @book.title %></td>
Body: <td><%= @book.body %></td>
<%= link_to "edit", edit_book_path(@book) %>
<%= link_to "back", books_path %>
